$bgColor: green;
$color: blue;
$blockWidth: 300px;
$border: 4px solid red;

* {
  padding: 0;
  margin: 0;
}

.block:not(.first) {
  background: $color;
  height: 200px;
  margin-bottom: 20px;
  width: $blockWidth;
  border: $border;
}

#central_block{
    padding: 30px;
}

#central_block > ul {
    list-style: none;
}

.first {
  background: $bgColor;
  height: 100px;
  margin-bottom: 20px;
  border: $border;
  width: $blockWidth;
}
